
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --white-color: #eeeeee;
	--dark-color: #080808;
	--light-green-color: #A3CA9B;
	--dark-green-color: #479537;
	--periwinkle: #4D2D8D;
}

:root {
	--page-background: var(--white-color);
	--text-color: var(--dark-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background: var(--page-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
