@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
	font-family: heavyFont;
	src: url('../assets/fonts/futura-lt-pro-3-cufonfonts/FuturaLTProHeavy.otf');
}
@font-face {
	font-family: regularHeader;
	src: url('../assets/fonts/futura-lt-pro-3-cufonfonts/FuturaLTProBook.otf');
}

:root {
    --white-color: #eeeeee;
    --dark-color: #080808;
    --light-green-color: #a3ca9b;
    --lighter-green-color: #b6e7b0;
    --periwinkle: #4d2d8d;
}

:root {
    --page-background: var(--white-color);
    --text-color: var(--dark-color);
    --border-color: var(--dark-color);
	--text-color: var(--dark-color);
	--main-header-color: var(--periwinkle);
	--secondary-header-color: var(--periwinkle);
	--checkbox-width-and-height: 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background: var(--page-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
}
ul {
	list-style-type: none;
}

h1,h2,h3 {
	font-family: heavyFont, sans-serif;
	color: var(--main-header-color);
}

h4,h5,h6 {
	font-family: regularHeader, sans-serif;
	color: var(--secondary-header-color);
}

label {
	color: var(--dark-green-color);
	font-weight: 700;
}

.price, .gf, .nf {
	color: var(--light-green-color);
	font-weight: 600;
}

h1 { 
	font-size: 3.3rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {font-size: 2.3rem;}

h4 {font-size: 1.8rem;}

h5 {font-size: 1.5rem;}

h6 {
	font-size: 1rem;
}

a {
	text-decoration: none;
}

.error-message {
	text-transform: none;
	font-weight: 700;
	color: #ff3333;
	margin-top: .5rem;
	text-align: center;
}
.ingredients-button {
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.ingredients-button,
ul li {
    font-size: 12px;
}

input[type='checkbox'] {
    background-color: red;
    accent-color: var(--periwinkle);
    width: var(--checkbox-width-and-height);
    height: var(--checkbox-width-and-height);
}

 .container .card {
    cursor: pointer;
	width: 70%;
    height: 15vh;
	margin: 1rem auto;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 15px -1px var(--periwinkle);
    -moz-box-shadow: 1px 2px 15px -1px var(--periwinkle);
    box-shadow: 1px 1px 10px -1px var(--periwinkle);
	transition: all .3s ease-in-out;
}

.container .card h6 {
	color: var(--dark-color)
}

 .container .card:hover {
	transform: scale(1.05);
	-webkit-box-shadow: 1px 2px 15px -1px var(--periwinkle);
	-moz-box-shadow: 1px 2px 15px -1px var(--periwinkle);
	box-shadow: 1px 1px 10px -1px var(--periwinkle);
}

 .container .card .content {
    color: var(--dark-color);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

 .container .card .content h6{
    margin-top: 0.5rem;
}

.size {
	text-transform: none 
}


@media screen and (min-width: 1024px) {
	body {
		font-size: 16px;
	}
	h1 { 
		font-size: 4rem;
	}
	
	h2 {
		font-size: 3.5rem;
	}
	
	h3 {font-size: 3rem;}
	
	h4 {font-size: 2.5rem;}
	
	h5 {font-size: 2rem;}
	
	h6 {
		font-size: 1.5rem;
	}
	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	 .container .card {
		flex-direction: row;
		height: 30vh;
		width: 33vh;
		margin: 2rem 1rem;
	}
}
